<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <div class="menu-header">
          <ion-icon
            slot="start"
            name="card-sharp"
            class="ion-no-margin"
            color="primary"
          ></ion-icon>
          <ion-title class="logo-title">BankDash.</ion-title>
        </div>
        <ion-list lines="none">
          <ion-menu-toggle
            auto-hide="false"
            *ngFor="let p of appPages; let i = index"
          >
            <ion-item
              lines="none"
              detail="false"
              [class]="selectedItem === p ? 'selected' : ''"
              (click)="selectedItem = p"
              button
            >
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
