ion-split-pane {
  --side-min-width: 200px;
  --side-max-width: 200px;
  --side-width: 200px;
  --border: 1px solid #e6e6e6;
}

ion-menu ion-content {
  --background: #ffffff;
}

.menu-header {
  padding: 20px 16px 10px;
  background: #ffffff;
}

ion-searchbar {
  --background: #f1f1f1;
  --border-radius: 8px;
  --box-shadow: none;
  --placeholder-color: #888;
  --icon-color: #888;
  --height: 40px;
}

ion-menu-toggle ion-item {
  --padding-start: 30px;
  --background: transparent;
  --color: #4e4e4e8e;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.4px;
}

.selected {
  --background: #e6f2ff;
  --color: #3880ff;
  color: #3880ff;
  position: relative;
}

.selected::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 8px;
  background-color: #3880ff;

  clip-path: polygon(0 0, 100% 10%, 100% 90%, 0 100%);
}

ion-icon {
  color: #888;
  margin-right: 16px;
}

ion-item.selected ion-icon {
  color: #3880ff;
}

ion-list {
  background: #ffffff;
}

.logo-title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  color: #1a1a1a;
  letter-spacing: 1px;
  padding-left: 10px;
  display: inline-block;
  margin: 0;
  line-height: 1.2;
}
